.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(90deg, rgb(125 214 178) 0%, rgb(31 92 66) 100%);
  min-height: 90vh;
  opacity: 0.8;
}

.home {
  background-image: url("/src/margi.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-h1 {
  font-size: 2rem;
  color: #fff;
}

.home-image-slider {
  opacity: 1 !important;
}
